.row {
    margin-left: 7%;
    margin-right: 10%;
    margin-bottom: 5%;
    border: 4mm ridge rgba(181, 101, 163, 0.982);
    background-color: rgba(61, 143, 173, 0.641);
}

/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */